.container{

    display: flex;
    justify-content: center;
    border: 0.5rem solid rgb(33, 9, 141);
    outline: 0.5rem solid yellow;
    color: black;
}

.divPalavra{
    width: 75px;
    height: 75px;
    background-color: white;
    border: solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.mainWord{
    color: white;
}

.btnJogar{
    border: solid white;
    border-radius: 20px;
    box-shadow: inset;
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}